@font-face {
    font-family: "HelveticaNeueLTStd";
    src: url('fonts/HelveticaNeueLTStd-Roman.eot');
    src: /*url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),*/
    		 url('fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
	    	 url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Pretty Modern Browsers */
	       url('fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('fonts/HelveticaNeueLTStd-Roman.svg#svgFontName') format('svg');			  	  
}
.app-wrapper {
  cursor: default;
}
.preloader {
  display: block;
  white-space: pre;
  position: absolute;
  top: 50%;
  width:100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.preloader.hide {
  display: none;
}
.preloader .loading-content {
  display: inline-block;
  position: relative;
  min-width: 150px;
}
.preloader .loading-content .counter-children {
  display: inline-block;
}
#interactive-holder {
  height: 610px;
  width: 580px;
}
.common-button {
  position: relative;
  height: 30px;
  text-align: center;
  font-family: HelveticaNeueLTStd;
  -webkit-tap-highlight-color: transparent;  
}
.button-text {
  position: relative;
  height: inherit;
  width: inherit;
  display: table-cell;
  vertical-align: middle;
}
.remove-text-selection {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.down, .hover.down.active {
}
.hover.active {
}
.hide {
  display: none;
}
.active {
  opacity: 1;
  cursor: pointer;
}
.disabled {
  cursor: default;
}
.player{
	width:600px;
	height:600px;
	background:rgba(0,100,255,0.25);
}
.player-holder{
	width:100%;
	height: 100%;
}
.text-container{
  position: relative;	
  top: 50%;
  transform: translateY(-50%);	
  text-align: center; 	
}
.top-right-button{
  height: 100px;
  width: 100px;
  position: relative;
  float: right;
  background-color: rgba(255,0,0,0.25);
  border-bottom-left-radius: 50%;	
}
.bottom-control-panel{
  height: 50px;
  width: 200px;
  position: relative;
  clear: both;
  float: right;
  top: 450px;
  background-color: rgba(0,255,0,0.5);	
}
.bottom-panel-btn{
  position: relative;
  float: left;
  height: 50px;
  text-align: center;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(200,70,200,0.5);  	
  margin-left: 20px;
}
.left-control-panel{
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: rgba(30,20,255,0.1);	
}
.exit-panel{
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: rgba(255,255,255,0.3);
  left: 308px;	
}
.exit-panel-popup-container{
  position: Relative;
  top: 50%;
  transform: translateY(-50%);	
}
.exit-panel-text-container{
  position: Relative;
}
.exit-panel-header-text{
	text-align: center;
  font-size: 30px;	
	color:rgba(255,0,0,0.5);
}
.exit-panel-description-text{
  position: relative;	
  font-size: 18px;  	
  top: 20px;
  text-align: center;
}
.exit-panel-popup-btn-container{
	position: relative;
  height: 50px;  
  top: 30px;	  	
}
.popup-btn{
  position: relative;
  height: 30px;
  width: 100px;
  float: left; 
  text-align: center; 
  top: 50%;
  transform: translateY(-50%);	 
	border-radius: 7px;  
  font-size: 18px;	   
}
.exit-panel-yes-button{
  margin-left: 35px;	
  background-color: rgba(0,255,0,0.7);
}
.exit-panel-no-button{
  margin-left: 30px;	
  background-color: rgba(255,0,0,0.7);
}